
  
  .google-map {
    height: '20rem', 
  }
  
  .pin {
    display: flex;
    align-items: center;
    width: 180px;
  }
  
  .pin-icon {
    font-size: .5rem;
    color: #2b283a;
  }
  
  .pin-text {
    font-size: .75rem;
    color: #2b283a;
    background-color: rgb(238, 197, 132, .75);
    border: 3px solid #03a086;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Inter';
    font-style: strong;
    font-weight: 900;
    padding: 0.25rem;
}
    
  
  
  @media screen and (min-width: 799px) {
    .google-map {
      height: 80vh;
    }
  
    .map-h2 {
      font-size: 1.3rem;
      font-weight: 400;
    }
  
    .pin {
      width: 15vw;
    }
  
    .pin-icon {
      font-size: 2vw;
    }
  }